
/* Title */

.title {
    margin: 2% 0;
    width: 15%;
    border-bottom: 2px solid black;
    font-family: var(--title-font);
}

/* Product Info */

.products {
    margin: 2% auto;
    align-items: baseline;
}
.product-container {
    margin: 1% 0;
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.img-container, .p-name, 
.quantity, .price, .sub-total {
    margin: 1% auto;
    text-align: center;
    font-weight: bold;
}
.img-container img {
    width: 100px;
}
.p-name {
    font-family: var(--product-title-font);
}
#name {
    font-size: 2rem;
}
.price {
    font-size: 1.2rem;
}
.quantity {
    padding: 0;
    border: 1px solid black;
    height: 32px;
}
.quantity input {
    height: 30px;
    border: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity input:focus {
    outline: none;
}
.quantity button {
    width: 30px;
    border: none;
    background-color: white;
}
.sub-total {
    margin-left: auto;
}
.delete button {
    margin: 11% 0 0 50%;
    background-color: rgba(255, 0, 0, 0.4);
    border: none;
    width: 25px;
    height: 25px;
}

/* Envio */

.tipo-list {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.tipo-list label {
    letter-spacing: 2px;
}
.tipo-list input {
    margin-right: 1%;
}
#direccion .row {
    margin-top: .5%;
}

/* Total */

.total-cart {
    padding: 1% 1%;
    width: 100%;
    margin: 2% 0;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.75);
    font-weight: bold;
    font-family: var(--title-font);
}
.buy {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.buy button {
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid black;
}
.buy button:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

/* Purchase Options */

.pago-container {
    margin: 2% 0;
}
.tipo-pago button:first-child {
    background-color: lightcyan;
    color: black;
}
.tipo-pago button:first-child:hover {
    background-color: aquamarine;
    border: 1px solid black;
}
#card-container {
    visibility: hidden;
}
.tipo-pago input {
    margin: 1% auto;
}

#expiration, #bank-account {
    margin: 1% 0 1% 2.5%;
    width: 40%;
}
#bank-container {
    visibility: hidden;
}


@media (max-width: 700px) {
    /* Product */

    .title {
        width: 35%;
    }
    .product-container {
        margin: 4% auto;
        flex-direction: column;
        width: 60%;
    }
    .img-container img {
        width: 100px;
        height: 75px;
    }
    .delete button {
        width: 100%;
        margin: 0 auto;
    }

    /* Direction */

    #direccion .row .col-sm-3 {
        width: 50%;
    }
    #direccion .row-sm-6 .col-sm-3 {
        width: 40%;
        margin: 0 0 0 1px;
    }
    #direccion .row-sm-6 {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #direccion .col-sm-3 input {
        width: 90%;
        margin: 0 5px 0 0;
        padding: 0;
    }
    .esquina input {
        margin-left: 3%;
        width: 40%;
    }
}