
/* Title */

.title {
    margin: 2% 0;
    width: 15%;
    border-bottom: 2px solid black;
    font-family: var(--title-font);
}

/* Product Info */

.products {
    margin: 2% auto;
    align-items: baseline;
}
.product-container {
    margin: 1% 0;
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.img-container, .p-name, 
.quantity, .price, .sub-total {
    margin: 1% auto;
    text-align: center;
    font-weight: bold;
}
.img-container img {
    width: 75px;
}
.p-name {
    font-family: var(--product-title-font);
}
#name {
    font-size: 2rem;
}
.price {
    font-size: 1.2rem;
}
.quantity {
    padding: 0;
    border: 1px solid black;
    height: 32px;
}
.quantity input {
    height: 30px;
    border: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity input:focus {
    outline: none;
}
.quantity button {
    width: 30px;
    border: none;
    background-color: white;
}
.sub-total {
    margin-left: auto;
}
.delete button {
    margin: 11% 0 0 50%;
    background-color: rgba(255, 0, 0, 0.4);
    border: none;
    width: 25px;
    height: 25px;
}

/* Envio */

.tipo-list {
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.tipo-list label {
    letter-spacing: 2px;
}
.tipo-list input {
    margin-right: 1%;
}
.esquina {
    margin-top: 1%;
    margin-bottom: 1%;
}
.esquina input {
    margin: 0 0 0 1%;
    width: 20%
}

/* Total */

.total-cart {
    padding: 1% 1%;
    width: 100%;
    margin: 2% 0;
    text-align: right;
    background-color: rgba(128, 128, 128, 0.75);
    font-weight: bold;
    font-family: var(--title-font);
}
.buy button {
    float: right;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid black;
}
.buy button:hover {
    background-color: rgba(128, 128, 128, 0.3);
}