.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.footer2 {
    background-color: red;
}
.form-label {
    margin-top: 1%;
}

.g-signin2 {
  margin-left: 6%;
}
.email-error, .password-error {

  font-size: 18px;
  padding: 5px 8px;
  text-align: center;
  margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.1);
  color: #C62828;
  display: none;
}
.myP {
  margin-left: 10%;
  margin-right: 5%;
}