.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
img {
    width: 60%;
    margin-left: 20%;
  }
  .footer2 {
    background-color: red;
}
.form-label {
    margin-top: 1%;
}
.icon {
  width: 40%;
}
.btn {
  width: 40%;
}
