


#product-container {
    margin: 2% auto;
    padding: 2%;
    border: 2px solid rgb(56, 53, 53, 0.5);
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

/* Product Images */

.p-images {
    display: flex;
    flex-direction: column;
}
.p-images img{
    width: 75px;
    height: 50px;
    margin: 15% 0;
}
.p-images img:hover {
    border: 2px solid black;
    cursor: pointer;
}

/* Big image */

.image-display {

}
#big-image {
    width: 95%;
    padding: 5%;
    margin: 0 2% 0 4%;
    background-color: white;
    border-radius: 5%;
}

/* Product Info */

.product-info {
    font-family: var(--product-info-font);
    text-align: right;
    border: 2px solid rgb(43, 42, 42);
    border-radius: 2%;
    background-color: white;
    width: 50%;
    text-shadow: 1px .25px rgba(0, 0, 0, .75);
    letter-spacing: 2px;
}
#product-category {
    margin: .5% auto;
    width: 90%;
    font-size: 1rem;
}
#sold-count {
    margin: 15% auto 0 auto;
    padding-top: 1%;
    font-style: italic;
    border-top: 1px solid black;
    width: 90%;
    font-size: 1.1rem;
}
#product-name {
    width: 90%;
    margin: 2% auto;
    padding-bottom: 1%;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: var(--product-title-font);
}
#product-description {
    font-weight: 500;
    width: 90%;
    margin: 2% auto 0 auto;
}
#product-price {
    margin: 2% auto 0 auto;
    padding-bottom: 1%;
    width: 90%;
    font-style: italic;
    border-bottom: 1px solid black;
}
#add-cart {
    margin: 2% 7% 1% auto;
    width: 35%;
    border: none;
    background-color: rgb(209, 201, 201);
    font-family: var(--product-font);
    font-weight: bold;
    letter-spacing: 2px;
}
#add-cart:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid black;
    font-size: 1.1rem;
}

/* Comments Section */

.comment-container {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    border-top-right-radius: 0px;
    letter-spacing: 2px;
    font-family: var(--product-font);
    margin: 2% 0 0 0;
}
#comments-container h2 {
    text-align: center;
    font-family: var(--title-font);
}
.comment-container p {
    font-family:Arial, Helvetica, sans-serif;
    border-top: 1px solid black;
    padding-top: 0.5vw;
    font-style: italic;
}
.dateTime {
    margin: auto 2% 2% 0;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}
#rating {
    margin: 7% 0 auto 0;
}

/* Add Comment Section */

#add-comment {
    width: 100%;
    text-align: left;
    margin: 0 auto 0 20%;
}
#add-comment h3 {
    font-family: var(--title-font);
}
#add-comment .row {
    padding: 0.5vw;
}
#add-comment button {
    width: 100%;
    border-radius: 10%;
    border: 1px solid lightskyblue;
    background-color: rgba(32, 178, 171, 0.6);
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
#add-comment button:hover {
    background-color: rgba(32, 178, 171, 0.5);
}
.comment-container i {
    color: grey;
}

.checked::before {
    color: rgba(255, 255, 0, 0.829);
}

/* Footer carousel */

.carousel-title {
    margin-top: 5%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.carousel {
    display: block;
    margin: 1% auto;
    width: 80%;
    padding: 2px;
    border-radius: 10px;
    border: none;
    background-color: rgb(97, 73, 73);
}
.carousel button {
    color: black;
    width: 10%;
    margin: auto 0;
    height: 20%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.651);
}
.carousel img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}
.carousel-title h4 {
    font-size: 2rem;
    font-family: var(--title-font);
}
#carousel2 {
    width: 60%;
}
#carousel2 figcaption {
    width: 25%;
    margin: 2% auto;
    padding: 1% 0 2% 0;
    text-align: center;
    background-color: rgba(165, 93, 77, 0.747);
    border-radius: 50%;
    font-family: var(--product-font);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    
#product-container {
    margin: 2% auto;
    border: none;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Product Images */

.p-images {
    flex-direction: row;
}
.p-images img{
    width: 75px;
    height: 50px;
    margin: 10% 1%;
}
.p-images img:hover {
    border: 2px solid black;
    cursor: pointer;
}

/* Big image */

#big-image {
    width: 95%;
    padding: 5%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
}

/* Product Info */

.product-info {
    font-family: var(--product-info-font);
    text-align: right;
    border: none;
    border-radius: 2%;
    background-color: white;
    width: 90%;
    text-shadow: 1px .25px rgba(0, 0, 0, .75);
    letter-spacing: 2px;
}
#product-category {
    margin: .5% auto;
    width: 100%;
}
#sold-count {
    margin: 15% auto 0 auto;
    padding-top: 1%;
    font-style: italic;
    border-top: 1px solid black;
    width: 90%;
}
#product-name {
    width: 90%;
    margin: 2% auto;
    padding-bottom: 1%;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: var(--product-title-font);
}
#product-description {
    font-weight: 500;
    width: 90%;
    margin: 2% auto 0 auto;
}
#product-price {
    margin: 2% auto 0 auto;
    padding-bottom: 1%;
    width: 90%;
    font-style: italic;
    border-bottom: 1px solid black;
}
#add-comment {
    width: 90%;
    text-align: left;
    margin: 2% auto;
}
#opinion {
    height: 100px;
}
.container {
    flex-direction: column;
}
#carousel-inner .carousel-item figcaption {
    width: 80%;
    font-size: 1.5rem;
    padding: 10%;
    border-radius: 10%;
}
}