.misautos {
    flex: 1;
    border: 1px double grey;
    margin-top: 5%;
}

/* Products */

.autosdiv {
  display: flex;
  border-bottom: 1px solid grey;
}

.imgautos img {
    width: 100%;
    border: 2px solid white;
}

.imgautos {
    width: 25%;
}

.contentautos {
    width: 100%;
    display: block;
}

.contentautos h2 {
    font-size: 1,2rem;
    text-align: left;
    margin-top: 1%;
}

.contentautos h6 {
    text-align: right;
    margin-top: -5%;
    margin-right: 1%;
}

.contentautos p, h6 {
    font-size: 16px;
}
.contentautos p {
    margin-top: 3%;
    text-align: left;
}

.autos {
    display: block;
}

/* Título */

.products {
    text-align: center;

}

/* Btn */
